{% extends 'base.html' %}
{% load static %}

{% block headers %} 
<script src="{% static 'js/posts.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock headers %}

{% block content %}

<div class="container">
    <div class="filter">
        <form>
            <div>
                <p class="filter_title">Age range:</p>
                <input type="number" id="min-age"> - <input type="number" id="max-age">
            </div>
            <div>
                <p class="filter_title">Role:</p>
                <select id="role">
                    <option value="" selected>---------</option>
    
                    <option value="IGL">IGL</option>
    
                    <option value="Lurk">Lurk</option>
    
                    <option value="Support">Support</option>
    
                    <option value="Entry">Entry</option>
    
                    <option value="AWP">AWP</option>
    
                    <option value="Secondary AWP">Secondary AWP</option>
    
                  </select>
            </div>
            <div>
                <p class="filter_title">Language:</p>
                <input type="text" id="languages" maxlength="200">
            </div>
            <div>
                <p class="filter_title">Tier:</p>
                <select id="tier">
                    <option value="" selected>---------</option>
    
                    <option value="1">1</option>
    
                    <option value="2">2</option>
    
                    <option value="3">3</option>
    
                    <option value="4">4</option>
    
                    <option value="5">5</option>
    
                    <option value="6">6</option>
    
                    <option value="7">7</option>
    
                    <option value="8">8</option>
    
                    <option value="9">9</option>
    
                    <option value="10">10</option>
    
                  </select>
            </div>
            <div class="button_div"><button id="filter-button">Filter</button></div>
        </form>
    </div>
    
    <div class="posts">
        <div data-page="home" id="posts">
        </div>
        
        <button id="load_button">Load more</button>
    </div>
</div>

{% endblock %}
