{% extends 'base.html' %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<script src="{% static 'js/detaIls.js' %}" defer></script>
{% endblock headers %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="name_div">{{post.name}}</div>
            <div class="country_div">
                <p class="flag"><img id="flag"></p>
                <p id="country">{{post.country}}</p>
            </div>
            <div class="experience_div">
                <p>{{post.team_experience}}</p>
                <p>{{post.tournament_experience}}</p>
            </div>
            <div class="more_info_div">
                <p class="tier tier-{{post.tier}}">{{post.tier}}</p>
                <p>{{post.age}}</p>
                <p>{{post.languages}}</p>
            </div>
            <div class="socials_div">
                <div>
                    <a href="{{post.steam}}" target="_blank"><img src="{% static 'images/steam.png' %}"></a>
                    {% if post.faceit %}
                        <a href="{{post.faceit}}" target="_blank"><img src="{% static 'images/faceit.png' %}"></a>
                    {% endif %}
                    {% if post.esportal %}
                        <a href="{{post.esportal}}" target="_blank"><img src="{% static 'images/esportal.jpg' %}"></a>
                    {% endif %}
                    {% if post.esea %}
                        <a href="{{post.esea}}" target="_blank"><img src="{% static 'images/esea.png' %}"></a>
                    {% endif %}
                </div>
                <div class="discord_div"><button id='discord' data-discord="{{post.discord}}" onclick="copy_discord()">Get in touch</button></div>
            </div>
            <div class="roles_div">
                <p id="role">{{post.role}} </p>
                {% if post.role2 %}
                    <p> | {{post.role2}} </p>
                {% endif %}
                {% if post.role3 %}
                    <p> | {{post.role3}}</p>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div class="button_div"><button><a href="{% url 'verify' post.id %}" id="edit-button">Edit</a></button></div>
            {% endif %}
        </div>
    </div>

{% endblock %}