{% extends 'base.html' %}
{% load static %}

{% block headers %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock headers %}

{% block content %}

<div class="container">
    <div class="submit_div">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="error_message">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
             {% endif %}
            <div class="button_div"><button type="submit">Submit</button></div>
        </form>
    </div>
</div>

{% endblock %}