{% extends 'base.html' %}
{% load static %}

{% block headers %}{% endblock headers %}

{% block content %}

<form method="post"> 
	{% csrf_token %}
	{{ form.as_p }}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
                <div class="error_message">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
     {% endif %}
	<button type="submit">Submit</button>
    <a href="{% url 'delete' post.id %}">Delete</a>
</form>

{% endblock %}