.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit_div {
    background-color: var(--main);
    width: 60vw;
    padding: 1vw 10vw 5vw 10vw;
}

p {
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
    resize: none;
}

input, select, textarea, option {
    color: var(--text2);
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    border-radius: 0.4em;
    border: none;
    padding: 1vh;
    background-color: var(--navbar-text);
}

textarea:focus, input:focus{
    outline: none;
}

.button_div {
    display: flex;
    justify-content: center;
}

button {
    all: unset;
    text-align: center;
    width: 6vw;
    margin-top: 2vh;
    background-color: var(--button-colout);
    outline: inherit;
    border-radius: 0.2em;
    cursor: pointer;
    margin: 0 1vh 0 1vh;
}

@media (max-width: 600px) {
	button {
        width: 12vw;
    }

    input, select, textarea, option {
        border-radius: 0.2em;
    }

    input, option {
        height: 1vh;
    }

    select {
        padding: 0;
    }
}