@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

.container {
    display: flex;
    min-height: 100vh;
}

.filter {
    width: 16%;
    background-color: var(--form_bg);
    padding: 2vh 2vw;
    display: flex;
    justify-content: center ;
}

.posts {
    width: 84%;
    padding: 1vh;
}

.filter_title {
    margin: 2vh 0 0 0;
}

#min-age, #max-age, #role, #languages, #tier {
    background-color: var(--navbar-text);
    transition: color 300ms ease-in-out;
    color: var(--background);
    font-family: 'Khand', sans-serif;
    font-weight: 800;
    border-radius: 0.3em;
    outline: none;
    box-shadow: none;
    border: none;
}

#min-age, #max-age {
    width: 3vw;
    text-align: center;
    
}

#role, #languages, #tier {
    padding-left: 0.8vw;
    width: 12vw;
}

option {
    color: var(--background);
	font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button_div {
    display: flex;
    justify-content: center;
}

#filter-button {
    all: unset;
    text-align: center;
    width: 6vw;
    margin-top: 2vh;
    background-color: var(--button-colout);
    outline: inherit;
    border-radius: 0.2em;
    cursor: pointer;
}

@media (max-width: 600px) {
	.container {
        flex-direction: column;
    }
    
    .filter {
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }

    .filter div {
        margin: 0 2vw 0 2vw;
    }
    
    .posts {
        width: 100%;
        padding: 0;
    }
    
    .filter_title {
        margin: 0 0 0 0;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #min-age, #max-age {
        width: 6vw;
        height: 3vh;
        text-align: center; 
    }
    
    #role, #languages, #tier {
        height: 3vh;
        width: 20vw;
    }
    
    #filter-button {
        width: 12vw;
    }
}