.container {
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 56vh;
    display: flex;
    align-items: center;
}

.submit_div {
    width: 28vw;
    border-radius: 1.2em;
    padding-top: 6vh;
}

form {
    width: 100%;
}

@media (max-width: 600px) {
    .submit_div {
        width: 60vw;
        padding-top: 0;
    }
}