{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Project Untitled</title>
    <link rel="icon" href="{% static '' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    {% block headers %} {% endblock headers %}
</head>
<body>
    <header class="navbar">
        <div class="name">
            <!-- <a href="{% url 'home' %}" class="logo"><img src="{% static '' %}" alt="logo"></a> -->
            <a href="{% url 'home' %}" class="name">PROJECT UNTITLED</a>
        </div>
        <div class="nav_buttons">
            <a href="{% url 'submit' %}" class="navbar-button">Submit</a>
            {% if request.user.is_superuser%}
                <a href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'pending' %}" class="navbar-button">Pending</a>
                {% if request.user.is_superuser%}
                    <a href="{% url 'login' %}">Log in</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="navbar-button">Log out</a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>